<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.cheerfun.pixivic.mapper.IllustsMapper">
    <select id="getIllustsById" resultType="Illusts">
        select * from illusts where illusts_id = #{id}
    </select>

    <insert id="insertIllusts" parameterType="Illusts">
        insert into illusts(`illusts_id`, `title`, `type`, `caption`, `restrict`, `artist_id`, `tools`,
                `create_date`, `page_count`, `width`, `height`, `sanity_level`,
                `x_restrict`, `total_view`, `total_bookmarks`, `total_comments`)
             values(#{illustsId}, #{title}, #{type},
                #{caption}, #{restrict}, #{artistId}, #{tools},
                #{createDate}, #{pageCount}, #{width}, #{height},
                #{sanityLevel}, #{xRestrict}, #{totalView}, #{totalBookmarks}, #{totalComments})
    </insert>

    <insert id="insertIllustsWithoutId" useGeneratedKeys="true" keyProperty="illustsId" parameterType="Illusts" >
        insert into illusts(`title`, `type`, `caption`, `restrict`, `artist_id`, `tools`,
                        `create_date`, `page_count`, `width`, `height`, `sanity_level`,
                        `x_restrict`, `total_view`, `total_bookmarks`, `total_comments`)
                values(#{title}, #{type},
                        #{caption}, #{restrict}, #{artistId}, #{tools},
                        #{createDate}, #{pageCount}, #{width}, #{height},
                        #{sanityLevel}, #{xRestrict}, #{totalView}, #{totalBookmarks}, #{totalComments})
    </insert>
</mapper>